/* 清除默认样式 */
* {
	margin: 0;
	padding: 0;
}

/* 页面样式 */
[name="page"] {
	/* 占全屏 */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	/* 初始时全部隐藏 */
	display: none;
}

/* 着陆页 */
[data-page-name="start"] {
	padding: 3em;
}

/* 介绍页 */
[data-page-name="info"] {
	padding: 3em;
}

/* 介绍页的多媒体内容 */
[data-page-name="info"] img, [data-page-name="info"] video {
	height: 20em;
}

.start-button {
	font-size: x-large;
	padding: 0.5em;
}

.game-button {
	padding: 0.5em;
	font-size: 3em;
}

#playdiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
